* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: HarmoniaSansProCyr-Regular, Arial, sans-serif;
  color: #58402D
}
// .absolute-flex {
//   position: absolute;
//   top: 0;
//   justify-content: center;
//   height: 90px;
// }
