.box-header {
  margin-bottom: 100px;
}
.navbar {
  @include display-flex;
  justify-content: center;
}
.box-navbar {
  @include display-flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 70px;
  border-bottom: 0.5px solid black;
  width: 80%;
}
.box-list {
  width: 200%;
  @include display-flex;
  justify-content: flex-end;
}
.lista-menu {
  & li {
    display: inline-block;
    margin-left: 15px;
  }
}
.button-sign-up {
  padding: 7px;
  border-radius: 8px;
  font-size: 15px;
  width: 95px;
  margin-left: 15px;
  color: $colorBasicBlu;
  border: 1px solid $colorBasicBlu;
  &:hover {
    background-color: $colorBasicBlu;
    color: white;
  }
}
.box-logo {
  width: 100%;
  @include display-flex;
  .logo-header {
    @include display-flex;
    justify-content: center;
    flex-wrap: nowrap;
    & img {
      height: 30px;
      width: 30px;
    }
    .name {
      margin-left: 10px;
    }
  }
}
.jumbo {
  .jumbo-box {
    @include display-flex;
    justify-content: center;
    .section-left {
      width: 530px;
      .text-jumbo {
        margin-top: 100px;
        font-size: 45px;
        margin-bottom: 50px;
      }
      & p {
        font-size: 20px;
        width: $width;
        margin-bottom: 50px;
        word-wrap: break-word;
      }
    }
    .section-rigth {
      max-width: 530px;
      @include display-flex;
      .img-header {
        width: $width;
      }
    }
  }
}
.box-button {
  @include display-flex;
  flex-wrap: nowrap;
  margin-bottom: 25px;
  @include button;
  & .or {
    margin: 10px;
  }
 }


.icon-button {
  font-size: 16px;
  margin-right: 3px;
}
.text-button-footer {
  & .fa-arrow-right {
    font-size: 13px;
  }
  & a {
    text-decoration: none;
    color: #58402D;
  }
}
// ------------------------
// MEDIAQUERY
// small
@media screen and (max-width: 767px){
  .box-list {
    display: none;
  }
  .box-button {
    @include display-flex-colum;
  }
  .section-left {
    text-align: center;
    padding: 2%;
  }
  .box-navbar {
    width: 100%;
    .box-logo {
      margin: 20px;
    }
    .hamburger-menu{
      margin: 20px;  
    }
  }
}
@media screen and (min-width: 767px){
  .hamburger-menu {
    display: none;
  }
}
// md
@media screen and (max-width: 1060px){
  .section-left {
    text-align: center;
    .box-button {
      justify-content: center;
    }
  }
}
