.box-header {
  height: 700px;
  width: 100%;
  background-color: red;
}
.navbar {
  background-color: blue;
  height: 90px;
  width: 100%;
}
.jumbo {
  background-color: pink;
  height: 400px;
  width: 100%;
}
